<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_schema</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property-->

		<property name="spring.datasource.url">jdbc:mysql://localhost:3306/test_schema</property>
		<property name="spring.datasource.username">root</property>
		<property name="spring.datasource.password">root</property>
		<property name="spring.jpa.show-sql">true</property>
		<property name="spring.jpa.hibernate.ddl-auto">update</property>
		<property name="spring.jpa.hibernate.naming-strategy">org.hibernate.cfg.ImprovedNamingStrategy</property>
		<property name="spring.jpa.properties.hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		<mapping class="ph.com.hibernate.model.Employee" />

	</session-factory>
</hibernate-configuration>
